<fieldset class={{id}} data-type="radio">
    {{#each values}}
         <input type="radio" name={{../id}} value={{id}} id={{../id}}>
         <label for="{{id}}">{{id}}</label>
    {{/each}}
</fieldset>