<fieldset class={{id}} data-type="radio" id="radio_buttons" class="inline">
    {{#each values}}
    <div class="multiple-choice">
         <input type="radio" name={{../id}} value={{id}} id="{{../id}}-{{id}}">
         <label for="{{id}}">{{id}}</label>
    </div>
    {{/each}}
</fieldset>