<fieldset id={{name}} data-type="radio">
    {{#each scale}}
         <input type="radio" name={{../id}} value={{id}} id={{../id}}>
         <label for="{{id}}">{{id}}</label>
    {{/each}}
</fieldset>